//import colors
@import "./pages/variables/colors/colors.scss";
//import common
@import "./pages/variables/common/common.scss";
//cadastro
@import "./pages/cadastro.scss";
//login
@import "./pages/login.scss";